{% extends "base.html" %}
{% block content %}
	<div class="aboutwrapper">
		<p>Очереднейший студентский блог о погроммировании и об АйТи в целом.</p>
		<p>Стек технологий: Python, BDD, TDD, C# (.NET), JS, SQL. В основном веб-программирование.</p>
		<p>Фидбэк пока ограничивается телегой — <b>nautics889</b>; Также оставлю мыло, поскольку не так давно телеграм в РФ стали притеснять, предрекая появление чебурнета: <b>cyberukr@gmail.com</b>.</p>
		<p>З.Ы. скоро допилю нормальную форму обратной связи.</p>
	</div>
{% endblock content %}
